@import '/src/styles/variables';

.container {
  .content {
    min-height: 80vh;
    padding-bottom: 64px;
  }

  .scroll_top_btn {
    position: fixed;
    bottom: 20vh;
    right: calc((100% - $max-width-desktop) / 2 - 70px);
    height: 48px;
    width: 48px;
    border: 1px solid $quaternary-color;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    svg {
      color: $quaternary-color;
      font-size: 16px;
    }
  }
}
