.container {
  .circular_progress_bar {
    height: 181px;
    width: 181px;

    .circular_text {
      color: white;
      text-shadow: 0px 0px 6px #fc7400;
      font-weight: 400;
      font-size: 25px;
      span {
        margin-right: 4px;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
