// ==============Color===============
$primary-color: #ff963c;

$secondary-color: #414141;

$tertiary-color: #ffcc21;

$quaternary-color: #777777;

// ==============Size===============
$max-width-desktop: 960px;
